/* spinner 가 디폴트로 오른쪽 상단에 위치하기 때문에 중앙으로 정렬해 준다*/
#nprogress .spinner {
  top: 50%;
  right: 50%;
  
}
#nprogress .bar {
  background-color: #CBC0D3;
}

#nprogress .peg {
  box-shadow: 0 0 10px #FFBB00, 0 0 5px #FFBB00;
}
/* #nprogress .peg {
  box-shadow: 0 0 10px #CBC0D3, 0 0 5px #CBC0D3;
} */